services:
  heliotrope:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: heliotrope-dev
    ports:
      - 8000:8000
    environment:
      # https://github.com/Saebasol/Heliotrope/blob/main/heliotrope/infrastructure/sanic/config.py
      HELIOTROPE_USE_ENV: "true"
      HELIOTROPE_PRODUCTION: "true"
      HELIOTROPE_HOST: "0.0.0.0"
      HELIOTROPE_SENTRY_DSN: ""
      HELIOTROPE_GALLERYINFO_DB_URL: postgresql+asyncpg://heliotrope_user:heliotropepasswd@postgres-heliotrope-dev:5432/heliotrope_db
      HELIOTROPE_INFO_DB_URL: mongodb://heliotrope_user:heliotropepasswd@mongo-heliotrope-dev:27017
      HELIOTROPE_INDEX_FILES: '["index-korean.nozomi"]'
